# Python
__pycache__/
*.py[cod]
*.pyo
.Python
.venv/
venv/
env/
ENV/
pip-wheel-metadata/

# VS Code settings (optional)
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# PyInstaller build artifacts
python/build/
python/dist/
*.spec

# Build metadata
python/.last_build.sha